@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));


@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --color-success: var(--status-success);
  --color-success-foreground: var(--status-success-foreground);

  --color-error: var(--status-error);
  --color-error-foreground: var(--status-error-foreground);

  --color-warning: var(--status-warning);
  --color-warning-foreground: var(--status-warning-foreground);

  --color-info: var(--status-info);
  --color-info-foreground: var(--status-info-foreground);
  /* DIAGNOSIS */
  --color-diag-text: var(--diag-text);
  --color-diag-bg: var(--diag-bg);
  /* AWAITING */
  --color-await-text: var(--await-text);
  --color-await-bg: var(--await-bg);
  /* REPAIR */
  --color-repair-text: var(--repair-text);
  --color-repair-bg: var(--repair-bg);
  /* READY */
  --color-ready-text: var(--ready-text);
  --color-ready-bg: var(--ready-bg);
  /* DELIVERED */
  --color-deliv-text: var(--deliv-text);
  --color-deliv-bg: var(--deliv-bg);
  /* DECLINED */
  --color-decl-text: var(--decl-text);
  --color-decl-bg: var(--decl-bg);
}

:root {
  --radius: 0.5rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.141 0.005 285.823);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.141 0.005 285.823);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.141 0.005 285.823);
  --primary: oklch(0.623 0.214 259.815);
  --primary-foreground: oklch(0.97 0.014 254.604);
  --secondary: oklch(0.967 0.001 286.375);
  --secondary-foreground: oklch(0.21 0.006 285.885);
  --muted: oklch(0.967 0.001 286.375);
  --muted-foreground: oklch(0.552 0.016 285.938);
  --accent: oklch(0.967 0.001 286.375);
  --accent-foreground: oklch(0.21 0.006 285.885);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.92 0.004 286.32);
  --input: oklch(0.92 0.004 286.32);
  --ring: oklch(0.623 0.214 259.815);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.141 0.005 285.823);
  --sidebar-primary: oklch(0.623 0.214 259.815);
  --sidebar-primary-foreground: oklch(0.97 0.014 254.604);
  --sidebar-accent: oklch(0.967 0.001 286.375);
  --sidebar-accent-foreground: oklch(0.21 0.006 285.885);
  --sidebar-border: oklch(0.92 0.004 286.32);
  --sidebar-ring: oklch(0.623 0.214 259.815);

  --status-success: oklch(44.947% 0.114 150.401);
  --status-success-foreground: oklch(98.193% 0.01802 156.147);
  --status-error: oklch(45.112% 0.17948 27.448);
  --status-error-foreground: oklch(97.133% 0.014 16.965);
  --status-warning: oklch(47.675% 0.16063 36.697);
  --status-warning-foreground: oklch(97.962% 0.01567 73.569);
  --status-info: oklch(42.668% 0.19734 262.012);
  --status-info-foreground: oklch(96.975% 0.01488 251.307);

  --diag-text: oklch(0.55 0.12 261);
  --diag-bg: oklch(0.97 0.01 260);
  --await-text: oklch(0.73 0.14 95);
  --await-bg: oklch(0.98 0.02 95);
  --repair-text: oklch(0.7 0.17 60);
  --repair-bg: oklch(0.98 0.02 70);
  --ready-text: oklch(0.75 0.17 142);
  --ready-bg: oklch(0.98 0.02 142);
  --deliv-text: oklch(0.45 0 0);
  --deliv-bg: oklch(96.151% 0.00448 358.6);
  --decl-text: oklch(0.64 0.2 25);
  --decl-bg: oklch(0.98 0.02 25);
}

.dark {
  --background: oklch(0.141 0.005 285.823);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.21 0.006 285.885);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.21 0.006 285.885);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.546 0.245 262.881);
  --primary-foreground: oklch(100% 0.00011 271.152);
  --secondary: oklch(0.274 0.006 286.033);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.274 0.006 286.033);
  --muted-foreground: oklch(0.705 0.015 286.067);
  --accent: oklch(0.274 0.006 286.033);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.488 0.243 264.376);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.21 0.006 285.885);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.546 0.245 262.881);
  --sidebar-primary-foreground: oklch(0.379 0.146 265.522);
  --sidebar-accent: oklch(0.274 0.006 286.033);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.488 0.243 264.376);

  --status-success: oklch(100% 0.00011 271.152 / 0.8);
  --status-success-foreground: oklch(39.348% 0.09569 152.299 / 0.7);
  --status-error: oklch(100% 0.00011 271.152 / 0.8);
  --status-error-foreground: oklch(39.671% 0.14077 25.699 / 0.7);
  --status-warning: oklch(100% 0.00011 271.152 / 0.8);
  --status-warning-foreground: oklch(40.731% 0.12281 38.006 / 0.7);
  --status-info: oklch(100% 0.00011 271.152 / 0.8);
  --status-info-foreground: oklch(37.964% 0.14534 265.48 / 0.7);

  --diag-text: oklch(0.7 0.15 261);
  --diag-bg: oklch(0.18 0.05 265);
  --await-text: oklch(0.78 0.16 95);
  --await-bg: oklch(0.18 0.02 95);
  --repair-text: oklch(0.74 0.18 60);
  --repair-bg: oklch(0.2 0.03 50);
  --ready-text: oklch(0.8 0.18 142);
  --ready-bg: oklch(0.18 0.03 125);
  --deliv-text: oklch(0.7 0 0);
  --deliv-bg: oklch(37.663% 0.00217 324.698 / 0.144);
  --decl-text: oklch(0.7 0.2 25);
  --decl-bg: oklch(0.18 0.03 20);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  body {
    @apply bg-background text-foreground;
  }
}